In [3]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [8]:
import json
path = 'C:\\py data\\pydata-book-master\\ch02\\usagov_bitly_data2012-03-16-1331923249.txt'
records = [json.loads(line) for line in open(path,'rb')]

In [18]:
print records[1]['tz']

America/Denver

In [20]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [22]:
time_zones[:10]

[u'America/New_York',
 u'America/Denver',
 u'America/New_York',
 u'America/Sao_Paulo',
 u'America/New_York',
 u'America/New_York',
 u'Europe/Warsaw',
 u'',
 u'',
 u'']

In [28]:
def get_counts(sequence):
    counts=  {}
    for x in sequence:
        if x in counts:
            counts[x] += 1
        else:
            counts[x] = 1
    return counts

In [29]:
counts = get_counts(time_zones)

In [31]:
counts['America/New_York']

1251

In [38]:
def top_counts(count_dict, n=10):
    value_key_pairs = [(count,tz) for tz, count in count_dict.items()]
    value_key_pairs.sort(reverse = True)
    return value_key_pairs[:n]

In [39]:
top_counts(counts)

[(1251, u'America/New_York'),
 (521, u''),
 (400, u'America/Chicago'),
 (382, u'America/Los_Angeles'),
 (191, u'America/Denver'),
 (74, u'Europe/London'),
 (37, u'Asia/Tokyo'),
 (36, u'Pacific/Honolulu'),
 (35, u'Europe/Madrid'),
 (33, u'America/Sao_Paulo')]

In [40]:
from pandas import DataFrame, Series

In [41]:
import pandas as pd

In [42]:
frame = DataFrame(records)

In [43]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
_heartbeat_    120 non-null float64
a              3440 non-null object
al             3094 non-null object
c              2919 non-null object
cy             2919 non-null object
g              3440 non-null object
gr             2919 non-null object
h              3440 non-null object
hc             3440 non-null float64
hh             3440 non-null object
kw             93 non-null object
l              3440 non-null object
ll             2919 non-null object
nk             3440 non-null float64
r              3440 non-null object
t              3440 non-null float64
tz             3440 non-null object
u              3440 non-null object
dtypes: float64(4), object(14)
memory usage: 500.7+ KB

In [44]:
frame['tz'].value_counts()

America/New_York                  1251
                                   521
America/Chicago                    400
America/Los_Angeles                382
America/Denver                     191
Europe/London                       74
Asia/Tokyo                          37
Pacific/Honolulu                    36
Europe/Madrid                       35
America/Sao_Paulo                   33
Europe/Berlin                       28
Europe/Rome                         27
America/Rainy_River                 25
Europe/Amsterdam                    22
America/Indianapolis                20
America/Phoenix                     20
Europe/Warsaw                       16
America/Mexico_City                 15
Europe/Stockholm                    14
Europe/Paris                        14
America/Vancouver                   12
Pacific/Auckland                    11
Europe/Prague                       10
Europe/Helsinki                     10
Asia/Hong_Kong                      10
America/Puerto_Rico                 10
Europe/Oslo                         10
Europe/Moscow                       10
Asia/Calcutta                        9
America/Montreal                     9
                                  ...
Europe/Belgrade                      2
Asia/Pontianak                       1
America/Mazatlan                     1
Europe/Skopje                        1
America/Argentina/Cordoba            1
Europe/Sofia                         1
America/Argentina/Mendoza            1
America/St_Kitts                     1
America/Santo_Domingo                1
America/Monterrey                    1
Asia/Novosibirsk                     1
America/Argentina/Buenos_Aires       1
Europe/Volgograd                     1
America/Caracas                      1
Australia/Queensland                 1
Europe/Ljubljana                     1
Asia/Riyadh                          1
Asia/Manila                          1
Africa/Casablanca                    1
Africa/Johannesburg                  1
Asia/Yekaterinburg                   1
America/Lima                         1
Asia/Kuching                         1
Africa/Lusaka                        1
America/Tegucigalpa                  1
America/La_Paz                       1
Asia/Nicosia                         1
Europe/Uzhgorod                      1
America/Costa_Rica                   1
America/Montevideo                   1
Name: tz, dtype: int64

In [46]:
tz_counts= frame['tz'].value_counts()

In [47]:
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [48]:
clean_tz = frame['tz'].fillna('Missing')

In [49]:
clean_tz[clean_tz=='']= 'Unknown'

In [50]:
tz_counts = clean_tz.value_counts()

In [51]:
tz_counts[:10]

America/New_York       1251
Unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
Name: tz, dtype: int64

In [54]:
tz_counts[:10].plot(kind='barh',rot=0)

In [55]:
frame['a'][1]

u'GoogleMaps/RochesterNY'

In [56]:
frame['a'][50]

u'Mozilla/5.0 (Windows NT 5.1; rv:10.0.2) Gecko/20100101 Firefox/10.0.2'

In [57]:
results = Series([x.split()[0] for x in frame.a.dropna()])

In [58]:
results[:5]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
dtype: object

In [59]:
results.value_counts()[:8]

Mozilla/5.0                 2594
Mozilla/4.0                  601
GoogleMaps/RochesterNY       121
Opera/9.80                    34
TEST_INTERNET_AGENT           24
GoogleProducer                21
Mozilla/6.0                    5
BlackBerry8520/5.0.0.681       4
dtype: int64

In [60]:
cframe = frame[frame.a.notnull()]

In [61]:
operating_system = np.where(cframe['a'].str.contains('Windows'),'Windows','Not Windows')

In [62]:
xarr = np.array([1.1,1.2,1.3,1.4,1.5])

In [63]:
yarr = np.array([2.1,2.2,2.3,2.4,2.5])

In [66]:
cond = np.array([True, False,True,True,False])

In [67]:
result = np.where(cond,xarr,yarr)

In [68]:
result

array([ 1.1,  2.2,  1.3,  1.4,  2.5])

In [69]:
operating_system[:5]

array(['Windows', 'Not Windows', 'Windows', 'Not Windows', 'Windows'],
      dtype='|S11')

In [70]:
by_tz_os = cframe.groupby(['tz',operating_system])

In [71]:
agg_counts = by_tz_os.size().unstack().fillna(0)

In [72]:
agg_counts[:10]

                                Not Windows  Windows
tz
                                      245.0    276.0
Africa/Cairo                            0.0      3.0
Africa/Casablanca                       0.0      1.0
Africa/Ceuta                            0.0      2.0
Africa/Johannesburg                     0.0      1.0
Africa/Lusaka                           0.0      1.0
America/Anchorage                       4.0      1.0
America/Argentina/Buenos_Aires          1.0      0.0
America/Argentina/Cordoba               0.0      1.0
America/Argentina/Mendoza               0.0      1.0

In [73]:
indexer = agg_counts.sum(1).argsort()

In [74]:
indexer[:10]

tz
                                  24
Africa/Cairo                      20
Africa/Casablanca                 21
Africa/Ceuta                      92
Africa/Johannesburg               87
Africa/Lusaka                     53
America/Anchorage                 54
America/Argentina/Buenos_Aires    57
America/Argentina/Cordoba         26
America/Argentina/Mendoza         55
dtype: int64

In [75]:
count_subset = agg_counts.take(indexer)[-10:]

In [76]:
count_subset

                     Not Windows  Windows
tz
America/Sao_Paulo           13.0     20.0
Europe/Madrid               16.0     19.0
Pacific/Honolulu             0.0     36.0
Asia/Tokyo                   2.0     35.0
Europe/London               43.0     31.0
America/Denver             132.0     59.0
America/Los_Angeles        130.0    252.0
America/Chicago            115.0    285.0
                           245.0    276.0
America/New_York           339.0    912.0

In [77]:
count_subset.plot(kind= 'barh',stacked=True)

In [79]:
normed_subset = count_subset.div(count_subset.sum(1), axis = 0)

In [80]:
normed_subset.plot(kind='barh', stacked=True)

In [81]:
valuestest = np.array([5,3,2,1,2,3,4,5,3,8,6,9])

In [82]:
indexertest = valuestest.argsort()

In [84]:
indexertest

array([ 3,  2,  4,  1,  5,  8,  6,  0,  7, 10,  9, 11], dtype=int64)