In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = DataFrame({'key': list('bbacaab'),
                'data1': range(7)})

In [3]:
df2 = DataFrame({'key': list('abd'),
                'data2': range(3)})

In [6]:
pd.merge(df1,df2, on = 'key')   #a default inner join

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [8]:
pd.merge(df1,df2,how = 'outer')  #a default outer join

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [9]:
df1 = DataFrame({'key': list('bbacab'),
               'data1' :range(6)})

In [10]:
df2 = DataFrame({'key': list('ababd'),
               'data2' :range(5)})

In [13]:
pd.merge(df1,df2, on='key', how = 'left')   #a normal left outer join

    data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
5       2   a    2.0
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   b    1.0
10      5   b    3.0

In [17]:
left = DataFrame({'key1': ['foo','foo','bar'],
                  'key2': ['one','two','one'],
                  'lval':[1,2,3]})

In [18]:
right = DataFrame({'key1': ['foo','foo','bar','bar'],
                  'key2': ['one','one','one','two'],
                  'rval':[4,5,6,7]})

In [19]:
pd.merge(left,right, on = ['key1','key2'], how = 'outer')  #joining on multiple keys

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [22]:
arr = np.arange(12).reshape(3,4)

In [23]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [27]:
np.concatenate([arr,arr],axis = 1)     #normal concatonation, transposed

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [28]:
a= Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
         index = list('fedcba'))

In [32]:
b= Series(np.arange(len(a),dtype = np.float64),
          index = list('fedcba'))

In [35]:
b[-1] = np.nan

In [38]:
np.where(pd.isnull(a), b, a)

array([ 0. ,  2.5,  2. ,  3.5,  4.5,  nan])

In [42]:
g= b[:-2].combine_first(a[2:])

In [46]:
g

a    NaN
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [47]:
s1 = Series([0,1,2,3], index= list('abcd'))

In [49]:
s2 = Series([4,5,6], index = list('cde'))

In [50]:
data2 = pd.concat([s1,s2], keys= ['one','two'])

In [53]:
data2.unstack().stack()

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64

In [68]:
data2.pivot()

AttributeError: 'Series' object has no attribute 'pivot'

In [64]:
data = DataFrame({'key1': ['one']*3 + ['two']*4,
                 'key2': [1,1,2,3,3,4,4]})

In [62]:
data

  key1  key2
0  one     1
1  one     1
2  one     2
3  two     3
4  two     3
5  two     4
6  two     4

In [67]:
data.drop_duplicates(['key1'])

  key1  key2
0  one     1
3  two     3

In [72]:
data.drop_duplicates(keep = 'last')
                                       #take_last is now deprecated

  key1  key2
1  one     1
2  one     2
4  two     3
6  two     4

In [73]:
megaman = Series([1,2,3,4,5,6,4,999,88,7,999,999,756,3,999])

In [78]:
megaman.replace([3,999],['three','beast']) 
#replacement can also be passed of a dictionary

0         1
1         2
2     three
3         4
4         5
5         6
6         4
7     beast
8        88
9         7
10    beast
11    beast
12      756
13    three
14    beast
dtype: object

In [81]:
megaman.values.map(str.upper)

AttributeError: 'numpy.ndarray' object has no attribute 'map'

In [82]:
ages = [20,22,24,34,44,33,34,23,64,76,56,87,56]

In [97]:
bins = [18,25,35,60,100]

In [98]:
cats = pd.cut(ages,bin)              #cuts the ages into categorized bins

In [99]:
cats.codes

array([0, 0, 0, 1, 2, 1, 1, 0, 3, 3, 2, 3, 2], dtype=int8)

In [100]:
cats.categories

Index([u'(18, 25]', u'(25, 35]', u'(35, 60]', u'(60, 100]'], dtype='object')

In [101]:
pd.value_counts(cats)

(18, 25]     4
(60, 100]    3
(35, 60]     3
(25, 35]     3
dtype: int64

In [102]:
group_names = ['youth','youngAdult','MiddleAged','Senior']

In [103]:
pd.cut(ages,bins, labels = group_names)

[youth, youth, youth, youngAdult, MiddleAged, ..., Senior, Senior, MiddleAged, Senior, MiddleAged]
Length: 13
Categories (4, object): [youth < youngAdult < MiddleAged < Senior]

In [104]:
randomData = np.random.randn(1000)

In [112]:
cats = pd.qcut(randomData,4)

In [129]:
pd.value_counts(cats)     #NOTICE the syntax of value_counts, different to normal

(0.666, 3.478]       250
(0.00856, 0.666]     250
(-0.645, 0.00856]    250
[-2.73, -0.645]      250
dtype: int64

In [146]:
np.random.seed(34561)

In [147]:
data2 = DataFrame(np.random.randn(1000,4))

In [154]:
data2.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.009757    -0.017049    -0.050354     0.040857
std       1.020007     0.981244     1.033092     1.012453
min      -3.104095    -3.011990    -3.172710    -3.374651
25%      -0.703606    -0.663721    -0.753590    -0.639319
50%      -0.030579    -0.016497    -0.045553     0.022206
75%       0.643882     0.657709     0.676428     0.722902
max       3.867264     3.667172     3.331838     3.652768

In [155]:
col = data2[3]

In [157]:
data2[(np.abs(data2) >3).any(1)]

            0         1         2         3
96   1.875860  0.068364 -1.589737 -3.027534
106  0.385752 -3.011990  1.721683 -0.641150
188  0.096740  0.540905 -3.124277  0.058446
224  0.949749  0.843345  0.373095 -3.374651
329  0.631929 -0.033067 -3.172710  0.615135
340 -1.026016 -1.450184  1.061374  3.231259
411  3.311902 -0.398001 -0.453130  0.108143
461  3.867264 -1.602582 -0.033970  0.627739
471  1.448151 -0.470007 -3.008745  2.058581
566 -1.590525 -0.025158  3.331838 -0.717093
613 -0.501418  0.383695 -0.891462  3.652768
658  3.239443  0.693891 -2.117383  0.791488
679  3.059045  0.211262 -1.250771  0.840823
751 -0.905369  3.667172 -0.471514  1.194921
849 -3.104095 -0.474094 -0.321099 -0.619959

In [158]:
data2[np.abs(data2)>3] = np.sign(data)*3

In [159]:
data2.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.005131    -0.011704    -0.032380     0.052375
std       1.014919     0.979014     1.031883     1.007789
min      -2.918624    -2.884419    -2.983954    -2.707346
25%      -0.702531    -0.662701    -0.730700    -0.627781
50%      -0.027512    -0.010139    -0.043180     0.033469
75%       0.645515     0.662195     0.695265     0.728728
max       3.000000     3.000000     3.000000     3.000000

In [162]:
sampler = np.random.permutation(5)

In [163]:
sampler

array([1, 0, 4, 3, 2])

In [164]:
df = DataFrame({'key': list('bbacab'),
               'data1':range(6)})

In [167]:
pd.get_dummies(df['key'], prefix = 'mega')

   mega_a  mega_b  mega_c
0     0.0     1.0     0.0
1     0.0     1.0     0.0
2     1.0     0.0     0.0
3     0.0     0.0     1.0
4     1.0     0.0     0.0
5     0.0     1.0     0.0

In [168]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b