In [1]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [9]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
obj = Series([4,7,-5,3])

In [11]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [12]:
obj.keys

<bound method Series.keys of 0    4
1    7
2   -5
3    3
dtype: int64>

In [13]:
obj2 = Series([4,7,-5,3], index=['d','b','a','c'])

In [37]:
obj2.index

Index([u'x', u'z', u'y', u't'], dtype='object')

In [17]:
obj2['a']

-5

In [18]:
obj2.index

Index([u'd', u'b', u'a', u'c'], dtype='object')

In [19]:
obj2['d']=6

In [20]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [21]:
obj2.index=['x','z','y','t']

In [22]:
obj2

x    6
z    7
y   -5
t    3
dtype: int64

In [38]:
md ={'birmingham':3314, 'london':12345}

In [40]:
crimes = Series (md)

In [25]:
data = {'prodid':[123,789,2280],
    'prodname':['beer','chips','burger'],
        'price':[0.99,1.50,3.99]}

In [26]:
frame = DataFrame(data)

In [45]:
frame.price

0    0.99
1    1.50
2    3.99
Name: price, dtype: float64

In [28]:
menuf = DataFrame(data, columns=['prodid','prodname','price'],
index = [1,2,3])

In [29]:
menuf

   prodid prodname  price
1     123     beer   0.99
2     789    chips   1.50
3    2280   burger   3.99

In [30]:
menuf[['prodname','price']]

  prodname  price
1     beer   0.99
2    chips   1.50
3   burger   3.99

In [31]:
menuf.ix[1,2]

0.98999999999999999

In [32]:
menuf[menuf['price']<2][['prodname','price']]

  prodname  price
1     beer   0.99
2    chips   1.50

In [33]:
data

{'price': [0.99, 1.5, 3.99],
 'prodid': [123, 789, 2280],
 'prodname': ['beer', 'chips', 'burger']}

In [34]:
menuf.reindex(index=[1,2,3])

   prodid prodname  price
1     123     beer   0.99
2     789    chips   1.50
3    2280   burger   3.99

In [35]:
menuf.reindex(index=[1,2,3,4], method='ffill')

   prodid prodname  price
1     123     beer   0.99
2     789    chips   1.50
3    2280   burger   3.99
4    2280   burger   3.99

In [52]:
pop = {'nevada': {2001: 2.4, 2002: 2.9  },
       'ohio': {2000 : 1.5, 2001: 1.7, 2002: 3.6}}

In [66]:
frame = DataFrame(pop, index=[2000,2001,2002,2003,2004])

In [89]:
p = menuf.diff

In [93]:
obj3 = Series(["blue","green","yellow"], index = [0,2,4])

In [99]:
obj3.reindex(range(7), method='ffill')

0      blue
1      blue
2     green
3     green
4    yellow
5    yellow
6    yellow
dtype: object

In [101]:
pop = DataFrame(pop)

In [102]:
pop

      nevada  ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [104]:
obj7 = Series(np.arange(4.), index=['a','b','c','d'])

In [105]:
obj7

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [109]:
obj7[obj7 > 1]

c    2.0
d    3.0
dtype: float64

In [112]:
df1 = DataFrame(np.arange(12).reshape((3,4)), columns = list ('abcd'))

In [115]:
df2 = DataFrame(np.arange(20).reshape((4,5)), columns= list ('abcde'))

In [122]:
df2.add(df1)

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [130]:
madting = DataFrame(np.arange(12).reshape((4,3)), columns = list('bde'), index=["utah","ohio","texas","oregon"])

In [134]:
s= madting.ix[1]

In [135]:
madting - s

        b  d  e
utah   -3 -3 -3
ohio    0  0  0
texas   3  3  3
oregon  6  6  6

In [136]:
shabba = DataFrame(np.random.randn(4,3), columns = list('bde'),
                   index =["london","cardiff","swansea","leeds"] )

In [140]:
np.exp(shabba)  #exponentiates the values inside the dataframe 'shabba'

                b         d         e
london   0.159747  0.378330  2.264992
cardiff  4.393318  1.771797  3.325616
swansea  0.802875  0.532127  0.513446
leeds    0.282467  2.567526  0.792699

In [142]:
f = lambda x: x.max() - x.min()

In [147]:
shabba.apply(f, axis = 1)

london     2.651737
cardiff    0.908090
swansea    0.447053
leeds      2.207138
dtype: float64

In [172]:
obj = Series(range(4), index=list('dbac'))

In [173]:
obj.sort_index()

a    2
b    1
c    3
d    0
dtype: int64